.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    width: 960px;
    height: 960px;
}

.square {
    position: relative;
    border: 2px solid black;
}

.pinkBackground {
    background-color: pink;
}